[package]
name = "nccl"
version = "0.5.0"
authors = ["Zack <zphixon@gmail.com>"]
description = "Minimal configuration file format and library."
documentation = "https://docs.rs/nccl"
homepage = "https://github.com/cheezgi/nccl"
repository = "https://github.com/cheezgi/nccl"
keywords = ["nccl", "configuration", "config"]
categories = ["config"]
license = "MIT"
readme = "README.md"

[badges]
travis-ci = { repository = "cheezgi/nccl" }

[dependencies]
